<!-- <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Sen Contact</span>
    <span class="example-spacer"></span>
    <button mat-raised-button routerLink="/login" class="d-flex" style="margin-left: 160vh;">Se Connecter</button>
</mat-toolbar>

<div>
    <div class="banner">
        <img src="https://img.freepik.com/photos-premium/dame-noire-musulmane-positive-travaillant-ordinateur-portable-au-bureau_116547-18666.jpg?w=900" class="" alt="">
    </div>
</div> -->
<nav class="navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand"><img
                src="C:\Users\dieyna\Downloads\Purple_Space_Phone_Free_Logo_-removebg-preview (1).png"
                alt="" style="height: 45px; width:100%"></a>
        <form class="d-flex">
            <button class="btn btn-primary " type="submit" routerLink="/login">Se connecter</button>
        </form>
    </div>
</nav>
<section>
    <img class="w-100" src="../assets/banniere.png" alt="" style="height: 560px;">
</section>